@model List<MasterHost.DataModel.Models.Subscription>

<div class="normalheader transition">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="~/Product/List">Services</a></li>
                    <li>
                        <span>FlexReal</span>
                    </li>
                </ol>
            </div>
            <img src="~/Content/img/flexreal.png" />
            <a href="~/SubScription/Create/FLEXREAL" class="btn btn-primary" id="add"><i class="fa fa-plus"></i> <br />Purchase</a>
            <a class="btn w-xs btn-success" id="ViewFlexReal" href="~/LandingPage" target="_blank"><i class="fa pe-7s-look"></i> <br />View</a>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="font-bold m-b-sm">
                Subscriptions
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>                                    
                                    <th></th>
                                    <th>Code</th>
                                    <th>Service</th>
                                    <th>Service name</th>
                                    <th>Account</th>
                                    <th>Subscription Type</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Purchase date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {
                                        foreach (MasterHost.DataModel.Models.Subscription item in Model)
                                        {
                                            <tr>
                                                <td><a href="/Product/DeleteSubScription/@item.SubscriptionId"><i class="fa pe-7s-trash"></i> </a></td>
                                                <td><a href="#"><i class="fa fa-edit"></i>  </a></td>
                                                <td>@item.SubscriptionCode</td>
                                                <td>@item.Service.Name</td>
                                                <td>@item.Service.Remark</td>
                                                <td>@item.Tentant.Name</td>
                                                <td>@Resources.Resource.ResourceManager.GetString(@item.SubscriptionType)</td>
                                                <td>@item.Price</td>
                                                <td>@Resources.Resource.ResourceManager.GetString(@item.ActiveYN)</td>
                                                <td>@item.PurchaseDateFormatted</td>
                                            </tr>
                                        }
                                    }
                                }                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/chartjs/js")

    <script type="text/javascript">

        $(function () {
            /**
             * Options for Line chart
             */
            var lineData = {
                labels: ["January", "February", "March", "April"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(98,203,49,0.5)",
                        strokeColor: "rgba(98,203,49,0.7)",
                        pointColor: "rgba(98,203,49,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(26,179,148,1)",
                        data: [17, 21, 19, 24]
                    }
                ]
            };

            var lineOptions = {
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                bezierCurve: false,
                pointDot: true,
                pointDotRadius: 3,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: false,
                datasetStrokeWidth: 1,
                datasetFill: true,
                responsive: true,
                tooltipTemplate: "<%= value %>",
                showTooltips: true,
                onAnimationComplete: function () {
                    this.showTooltip(this.datasets[0].points, true);
                },
                tooltipEvents: []
            };
            var ctx = document.getElementById("lineOptions").getContext("2d");
            var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
        })
    </script>
}
