@model MasterHost.DataModel.Models.Tentant

@{
    ViewBag.Title = "Validation";
}

<script src="~/Vendor/jquery-validation/jquery.validate.min.js"></script>
<script>

    $(document).ready(function () {

        $("#createAccountForm").validate({
            rules: {
                Code: {
                    required: true,
                    minlength: 3
                },
                Name: {
                    required: true,
                    minlength: 8
                }

            },
            messages: {
                Code: {
                    required: '@Resources.Resource.TenantCodeIsRequired'
                }
            }
        });




    });

</script>
<div class="small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="~/ServiceAccount/List">My Account</a></li>

                    <li class="active">
                        <span>Create Account </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Create Account
            </h2>
            <small>it is strongly recommended that you create one account, Unless you have many subsidiaries</small>
        </div>
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-body">
                    <p>
                        The jQuery Validation Plugin provides drop-in validation for your existing forms, while making all kinds of customizations to fit your application really easy.
                    </p>


                    @using (Html.BeginForm("Create", "ServiceAccount", FormMethod.Post, new { @id = "createAccountForm", @name = "createAccountForm", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-lg-12">
                                @*<label>Username</label>
                                    <input type="text" value="" id="" class="form-control" name="">*@
                                @Html.LabelFor(m => m.Code)
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = "Account code", @id = "Code", @name = "Code" })

                            </div>
                            <div class="form-group col-lg-6">
                                @*<label>Password</label>
                                    <input type="password" value="" id="" class="form-control" name="">*@
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Account name" })
                            </div>
                            <div class="form-group col-lg-6">
                                @*<label>Repeat Password</label>
                                    <input type="password" value="" id="" class="form-control" name="">*@
                                @Html.LabelFor(m => m.TaxId)
                                @Html.TextBoxFor(m => m.TaxId, new { @class = "form-control", @placeholder = "Tax identification number if you are a company" })
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.TentantType)

                                @Html.DropDownListFor(model => model.TentantType, ViewBag.listAllTenantType as SelectList, @Resources.Resource.SelectAnItem, new { @id = "TentantType", @class = "form-control m-b" })
                                @*//  @Html.ValidationMessageFor(model => model.TentantType, "", new { @class = "form-control" })*@
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.IDCard)
                                @Html.TextBoxFor(m => m.IDCard, new { @class = "form-control", @placeholder = "Business registration Id or your Id card number" })
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.PhoneNumber)
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone number" })
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.Mobile)
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "Mobile number" })
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.TentantAddress)
                                @Html.TextBoxFor(m => m.TentantAddress, new { @class = "form-control", @placeholder = "Address" })
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.Nationality)
                                @Html.TextBoxFor(m => m.Nationality, new { @class = "form-control", @placeholder = "Country" })
                            </div>
                        </div>
                        <div>
                            @*<button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>*@
                            <input type="submit" value="Submit" class="btn btn-sm btn-primary m-t-n-xs" />
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
