@model EventManager.Admin.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Register";
}

<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Registration</h3>
                <small>Full suported AngularJS WebApp/Admin template with very clean and aesthetic style prepared for your next app. </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "loginForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-lg-12">
                                @*<label>Username</label>
                                <input type="text" value="" id="" class="form-control" name="">*@
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-6">
                                @*<label>Password</label>
                                <input type="password" value="" id="" class="form-control" name="">*@
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-6">
                                @*<label>Repeat Password</label>
                                <input type="password" value="" id="" class="form-control" name="">*@
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.MiddleName)
                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                            <div class="checkbox col-lg-12">
                                <input type="checkbox" class="i-checks" checked>
                                Sigh up for our newsletter
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success">Register</button>
                            <button class="btn btn-default">Cancel</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>Aquila Clould Portal</strong><br /> 2015 Copyright Aquila Technologies
        </div>
    </div>
</div>
